section {
	display: grid;
	width: 480px;
	margin: auto;
}

.images-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
}

.profile-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: -.5em;
}

.link-div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
	border: 1px solid #4b4f5f;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
	padding-bottom: .5em;
}

h6 {
	font-size: 1.5em;
	padding-top: .5em
}