@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Oswald&family=Roboto&family=Rubik+Mono+One&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	padding: 25px;
	border-radius: 8px;
}

button {
	margin: 10px;
	color: #025474;
}
p {
	text-align: center;
}

.summary {

}

.selected {
	background-color: #025474;
	color: #e8d6b9;
}

.book.font-family-1 {
}

h1 {
	font-size: 3em;
}

.rules-section {
	padding: 25px;
	border-radius: 5px;
	text-align: left;
}


.rules-section ul {
	margin: 0;
	padding-left: 20px;
}

.flex-container {
	display: flex;
	justify-content: space-between;width: 100%;
}

.game-section {
	text-align: center;
	width: 48%;
	/* Adjust as needed */
}

.rules-section {
	width: 48%;
	/* Adjust as needed */
}