@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Oswald&family=Roboto&display=swap');

:root {
	--color1: #fef8f4;
	--color2: #645E5D;
	--color3: #2b231e;
	--color4: #ea4335;
	--font1: "Oswald";
	--font2: "Fira Sans Extra Condensed";
	--font3: "Roboto";
}



body {
	font-family: var(--font3);
	background-color: var(--color1);
	font-size: 18px;
	color: var(--color2);
}

h1,
h2,
h3 {
	font-family: var(--font1);
	font-weight: 900;
	color: var(--color4);
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
	font-family: var(--font2);
	color: var(--color2)
}

a:link,
a:visited {
	font-family: var(--font3);
	font-weight: 400;
	color: var(--color3);
	text-decoration: none;
}

a:hover {
	color: var(--color4);
	font-weight: 600;
}

nav,
footer {
	padding-bottom: 1em;
	text-align: center;
}

footer {
	padding-top: 1em;
	text-align: right;
}

nav .nav-link,
footer a {
	font-family: var(--font1);
}

nav .nav-link:hover,
footer a:hover {
	font-weight: 600;
	text-decoration: none;
	color: var(--color4);
}

header {
	text-align: center;
	padding: 1em;
	display: flex;
	align-items: center;
}

header h1 {
	font-size: 4em;
	line-height: 1em;
	font-weight: 700;
}

header h3 {
	color: var(--color2);
	font-size: 1.5em;
	padding: .5em
}

.author {
	font-weight: 900;
	color: var(--color4);
}

.student {
	font-style:
}

.stages {
	background-color: var(--color4);
	color: var(--color1);
	text-align: center;
	border: var(--color1) 5px solid;
}

.stages h3 {
	color: var(--color3);
	font-size: 1.5em;
	margin-top: .5em;
}

img {
	float: right;
	width: 25%;
	padding-left: 1.5em;
	min-width: 200px
}

.dark,
.dark nav,
.dark .navbar,
.dark footer,
.dark h3,
.dark a:link,
.dark a:visited,
.dark .nav-link:link,
.dark .nav-link:visited,
.dark footer a {
	background-color: var(--color3);
	color: var(--color1);
}

.change img {
	width: 50px !important;
	height: auto !important;
}